// parallax
.parallax-window {
    min-height: 100vh;
    background: transparent;
    width: 100%;
    background: rgba(0, 0, 0, 0.027);

}

// parallax booking
.parallax-window1 {
    min-height: 340px;
    background: transparent;
    width: 100%;
    background: rgba(0, 0, 0, 0.027);

}

// swiper
.swiper-container {
   width:70vw;
   
}




